<h2 class="page-title"></h2>
<section class="page-body">
	<div><small>Choose other parking lot</small></div><br>
	<img src="/assets/images/Route.jpg" alt="Route">
	<div class="transaction center">
		<svg class="icon icon-next" viewBox="0 0 32 32">
			<path d="M6 14h13.2l-4.6-4.6 2.8-2.8 9.4 9.4-9.4 9.4-2.8-2.8 4.6-4.6h-13.2z"></path>
		</svg>
		
		<strong>Remaining time</strong>
		<div>100m</div>
		<div></div>
	</div>
	<br>
	<input type="submit" onclick="startPark(this);" value="Start parking">
</section>
