<h2 class="page-title">Latest transactions</h2>
<section class="page-body">
	<div class="transaction">
		<strong>Monday May 15, 2017</strong>
		<span class="location">Parking A</span>
		<span class="from">8:15 - 10:10 (1:55 h)</span>
		<div class="costs">€4,12</div>
	</div>
	<div class="transaction">
		<strong>Sunday May 7, 2017</strong>
		<span class="location">Parking B</span>
		<span class="from">17:45 - 18:25 (0:40 h)</span>
		<div class="costs">€2,84</div>
	</div>
	<div class="transaction">
		<strong>Tuesday May 2, 2017</strong>
		<span class="location">Parking C</span>
		<span class="from">9:15 - 15:40 (6:25 h)</span>
		<div class="costs">€8,44</div>
	</div>
	<div class="transaction">
		<strong>Monday April 24, 2017</strong>
		<span class="location">Parking A</span>
		<span class="from">8:10 - 10:30 (2:20 h)</span>
		<div class="costs">€4,58</div>
	</div>
	
	<div class="total">
		<strong>Total</strong><div class="costs">€19.98</div>
		<strong>This month</strong><div class="costs">€15.40</div>
	</div>
</section>